<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/inertia-vue3';
</script>

<template>

    <Head title="About"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-500 leading-tight">About</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-500">
                        <p>This is About page.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni id tempora temporibus
                            eligendi
                            ratione dicta facere sapiente quis quod illum, vitae illo voluptatibus perspiciatis,
                            mollitia hic
                            totam libero doloribus. Fuga.
                        </p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo animi voluptas quaerat ut, eius
                            tempora. Quas similique veritatis vel in laboriosam officia, vitae tenetur magni a
                            repudiandae
                            dolorem dicta hic!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde pariatur voluptatum cumque illo
                            nobis
                            iure aliquid, minima reprehenderit. Tempore minima, ex blanditiis pariatur nisi harum ipsa
                            aut in
                            provident neque?</p>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

