<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        Hiii. I'm an example component.
                    </div>
                </div> -->
                <button class="btn btn-primary" type="button" @click.prevent="open()">Admin Page</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log('Component mounted.')
    },
    methods: {
        open() {
            let uri = `/open`;
            axios.get(uri).then(response => {
                alert("Welcome");
            })
            .catch(error => {
                alert("Access Denied");
            })
        }
    }
}
</script>
