<template>

    <Head title="Location" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-500 leading-tight">Google Maps</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-500 d-flex justify-content-center">
                        <GMapMap :center="center" :zoom="7" map-type-id="satellite"
                            style="width: 1200px; height: 600px">
                        </GMapMap>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/inertia-vue3';

export default {
    data() {
        return {
            center: { lat: 32.715736, lng: -117.161087 },
        }
    },
    components: {
        AuthenticatedLayout,
        Head
    }
}
</script>