<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/inertia-vue3';
</script>

<template>

    <Head title="Home" />
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-500 leading-tight">Home</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-500">
                        <p>Hello {{ $page.props.auth.user.name }}</p>
                        <p>Your id is {{ $page.props.auth.user.id }}</p>
                        <p>This is Home page.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni id tempora temporibus
                            eligendi
                            ratione dicta facere sapiente quis quod illum, vitae illo voluptatibus perspiciatis,
                            mollitia hic
                            totam libero doloribus. Fuga.
                        </p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo animi voluptas quaerat ut, eius
                            tempora. Quas similique veritatis vel in laboriosam officia, vitae tenetur magni a
                            repudiandae
                            dolorem dicta hic!</p>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

