<template>

    <Head title="Time"></Head>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-500 leading-tight">Time Zones</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-500">
                        <div class="p-3 text-center">
                            <h4 class="mb-3">Local Time Zone</h4>
                            <p class="mb-2">{{ local }}</p>
                            <p class="mb-2">{{ time }}</p>
                        </div>
                        <hr>
                        <div class="p-3">
                            <h4 class="text-center mb-3">Foreign Time Zones</h4>
                            <label for="zone">Choose a timezone:</label>
                            <select @change="timeZoneChange(zone)" v-model="zone" name="zone" id="zone"
                                class="form-control" autofocus>
                                <option v-for="timezone in timezones" :key="timezone">
                                    {{ timezone }}
                                </option>
                            </select>
                            <p class="text-center mt-3">{{ time1 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/inertia-vue3';
import moment from 'moment';
import moment_timezone from 'moment-timezone';

export default {
    mounted() {
        this.timezones = moment.tz.names();
        this.interval = setInterval(() => this.fetchTime(), 1000);
    },
    components: {
        AuthenticatedLayout,
        Head
    },
    data() {
        return {
            timezones: [],
            time: '',
            interval: null,
            time_zone: 'Africa/Abidjan',
            time1: '',
            zone: 'Africa/Abidjan',
            local: moment.tz.guess(true),
        }
    },
    methods: {
        fetchTime() {
            this.time = moment().tz(this.local).format('LTS');
            this.time1 = moment().tz(this.time_zone).format('LTS');
        },
        timeZoneChange(e) {
            this.time_zone = e;
        }
    }
}
</script>




