<template>
    <div class="container">
        <p>This is About page.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni id tempora temporibus eligendi
            ratione dicta facere sapiente quis quod illum, vitae illo voluptatibus perspiciatis, mollitia hic
            totam libero doloribus. Fuga.
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo animi voluptas quaerat ut, eius
            tempora. Quas similique veritatis vel in laboriosam officia, vitae tenetur magni a repudiandae
            dolorem dicta hic!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde pariatur voluptatum cumque illo nobis
            iure aliquid, minima reprehenderit. Tempore minima, ex blanditiis pariatur nisi harum ipsa aut in
            provident neque?</p>
    </div>
</template>

<script>

export default {
    name: 'AboutComponent',
    mounted() {
        console.log('Component mounted.')
    },
}
</script>
