<template>
    <div class="container">
        <button style="float: right;" @click="lastActivity()" type="button" class="btn btn-outline-primary"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Last
            Activity</button><br><br>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Last Activity by</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>ID: {{ activities.id }}</p>
                        <p>User_Type: {{ activities.log_name }}</p>
                        <p>Description: {{ activities.description }}</p>
                        <p>Event: {{ activities.event }}</p>
                        <p>Causer_Type: {{ activities.causer_type }}</p>
                        <p>Causer_ID: {{ activities.causer_id }}</p>
                        <p>Created_At: {{ activities.created_at }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <div class="d-flex justify-content-end">
                <span>Search:</span>&nbsp;
                <input type="text" v-model="searchValue">
            </div><br>

            <EasyDataTable table-class-name="customize-table" header-text-direction="center"
                body-text-direction="center" :sort-by="sortBy" :sort-type="sortType" :search-value="searchValue"
                alternating :empty-message="emptyMessage" buttons-pagination :headers="headers" border-cell
                :rows-per-page="5" :items="rows">
                <template #item-action="rows">
                    <div>
                        <button type="button" class="btn btn-primary" @click="show(rows.id)"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                </template>
            </EasyDataTable>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import CryptoJS from 'crypto-js';
import { stringify } from 'querystring';
import cryptoJs from 'crypto-js';

let key1 = 'PLTEdUR6HcUJLm99iPYLSQJIVngOpaNgIt81Z69jwn4=';

export default {
    name: 'activity-component',
    mounted() {
        console.log('Component mounted.')
    },
    data() {
        return {
            rows: [],
            activities: {},
            headers: [
                { text: "ID", value: "id", sortable: true },
                { text: "User Type", value: "log_name", sortable: true },
                { text: "Description", value: "description", sortable: true },
                { text: "Event", value: "event" },
                { text: "Causer Type", value: "causer_type" },
                { text: "Causer ID", value: "causer_id", sortable: true },
                { text: "Created At", value: "created_at", sortable: true },
                { text: "View", value: "action" }
            ],
            emptyMessage: "No matching records found",
            searchValue: '',
            sortBy: 'id',
            sortType: 'desc',
            time: ''
        }
    },
    created() {
        this.fetchLog()
    },
    methods: {
        async fetchLog() {
            try {
                let response = await axios.get(route('activity_log'));
                this.rows = response.data;
                for (let index = 0; index < this.rows.length; index++) {
                    this.rows[index].created_at = moment(this.rows[index].created_at).format('LLLL');
                }
            }
            catch (error) {
                alert(error);
            }
        },
        async lastActivity() {
            try {
                let response = await axios.get(route('last_activity'));
                console.log(response.data);
                let encryptStr = CryptoJS.enc.Base64.parse(response.data);
                let encryptData = encryptStr.toString(CryptoJS.enc.Utf8);
                encryptData = JSON.parse(encryptData);
                let iv = CryptoJS.enc.Base64.parse(encryptData.iv);
                let decrypted = CryptoJS.AES.decrypt(encryptData.value, CryptoJS.enc.Base64.parse(key1), {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
                decrypted = decrypted.toString(CryptoJS.enc.Utf8);
                this.activities = JSON.parse(decrypted);
                console.log(this.activities);
                this.activities.created_at = moment(this.activities.created_at).format('LLLL');
            } catch (error) {
                alert(error);
            }
        },
        async show(id) {
            try {
                let data = id.toString();
                let iv = CryptoJS.lib.WordArray.random(16);
                let key = CryptoJS.enc.Base64.parse(key1);
                let id1 = CryptoJS.AES.encrypt(data, key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });
                id1 = id1.toString();
                iv = cryptoJs.enc.Base64.stringify(iv);
                let result = {
                    iv: iv,
                    value: id1,
                    mac: CryptoJS.HmacSHA256(iv + id1, key).toString()
                };
                result = JSON.stringify(result);
                result = CryptoJS.enc.Utf8.parse(result);
                result = CryptoJS.enc.Base64.stringify(result);
                console.log(result);

                let response = await axios.post(route('view'), {id:result});
                console.log(response.data);
                alert(response.data);
            } catch (error) {
                alert(error);
            }
        }
    }
}
</script>

<style>
.customize-table {
    --easy-table-border: 1px solid #445269;
    --easy-table-row-border: 1px solid #445269;

    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 50px;
    --easy-table-header-font-color: #c1cad4;
    --easy-table-header-background-color: #2d3a4f;

    --easy-table-header-item-padding: 10px 15px;

    --easy-table-body-even-row-font-color: #fff;
    --easy-table-body-even-row-background-color: #4c5d7a;

    --easy-table-body-row-font-color: #c0c7d2;
    --easy-table-body-row-background-color: #2d3a4f;
    --easy-table-body-row-height: 50px;
    --easy-table-body-row-font-size: 14px;

    --easy-table-body-row-hover-font-color: #2d3a4f;
    --easy-table-body-row-hover-background-color: #eee;

    --easy-table-body-item-padding: 10px 15px;

    --easy-table-footer-background-color: #2d3a4f;
    --easy-table-footer-font-color: #c0c7d2;
    --easy-table-footer-font-size: 14px;
    --easy-table-footer-padding: 0px 10px;
    --easy-table-footer-height: 50px;

    --easy-table-rows-per-page-selector-width: 70px;
    --easy-table-rows-per-page-selector-option-padding: 10px;

    --easy-table-scrollbar-track-color: #2d3a4f;
    --easy-table-scrollbar-color: #2d3a4f;
    --easy-table-scrollbar-thumb-color: #4c5d7a;

    --easy-table-scrollbar-corner-color: #2d3a4f;

    --easy-table-loading-mask-background-color: #2d3a4f;

}
</style>


