<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">User Details</div>
                    <div v-for="detail in details" :key="detail.id">
                        <div class="card-body">
                            <h5 class="card-title">User ID: {{ detail.id }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name: {{ detail.name }}</li>
                                <li class="list-group-item">Email ID: {{ detail.email }}</li>
                                <li v-if="detail.user_type == 1" class="list-group-item">User_Type: Admin</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <button class="btn btn-outline-primary float-start" @click="getUsers()" type="button">Other
                        Users</button>
                    <button type="button" class="btn btn-outline-success float-end" @click="exportData()">Export
                        Users</button>
                </div><br><br>
                <div v-show="show === true" class="card">
                    <div class="card-header">Other Users Details</div>
                    <div class="card-body">
                        <h5 class="card-title">User ID. User Name</h5>
                        <div v-for="user in users" :key="user.id">
                            <ul class="list-group list-group-flush">
                                <li v-if="user.user_type != 1" class="list-group-item">{{ user.id }}. {{ user.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'admin-component',
    mounted() {
        console.log('Component mounted.')
    },
    data() {
        return {
            details: [],
            users: [],
            show: false,
        }
    },
    created() {
        this.fetchDetails()
    },
    methods: {
        async fetchDetails() {
            try {
                let response = await axios.get(route('show'));
                this.details = response.data;
            }
            catch (error) {
                alert(error);
            }
        },
        async getUsers() {
            try {
                let response = await axios.get(route('users'));
                this.show = true;
                this.users = response.data;
            }
            catch (error) {
                alert(error);
            }
        },
        async exportData() {
            try {
                let response = await axios.get(route('export'), { responseType: 'blob' });
                const url = URL.createObjectURL(new Blob([response.data], {
                    type: 'application/vnd.ms-excel'
                }))
                console.log(url);
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', 'users.xlsx')
                document.body.appendChild(link)
                link.click()
                alert("Data exported successfully");
            }
            catch (error) {
                alert(error);
            }
        },
    }
}
</script>


