<template>
    <div class="container">
        <GMapMap :center="center" :zoom="7" map-type-id="satellite" style="width: 1200px; height: 600px">
        </GMapMap>
    </div>
</template>

<script>

export default {
    name: 'google-maps-component',
    mounted() {
        console.log('Google maps component mounted.')
    },
    data() {
        return {
            center: { lat: 32.715736, lng: -117.161087 },
        }
    }
}
</script>