<template>
    <div class="container">
        <p>Hello {{ $route.params.name }}</p>
        <p>Your id is {{ $route.params.id }}</p>
        <p>This is Home page.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni id tempora temporibus eligendi
            ratione dicta facere sapiente quis quod illum, vitae illo voluptatibus perspiciatis, mollitia hic
            totam libero doloribus. Fuga.
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo animi voluptas quaerat ut, eius
            tempora. Quas similique veritatis vel in laboriosam officia, vitae tenetur magni a repudiandae
            dolorem dicta hic!</p>
    </div>
</template>

<script>

export default {
    name: 'HomeComponent',
    mounted() {
        console.log('Component mounted.')
    },
}
</script>
