<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="p-3 text-center">
                    <h4>Local Time Zone</h4>
                    <p>{{ local }}</p>
                    <p>{{ time }}</p>
                </div>
                <hr>
                <div class="p-3">
                    <h4 class="text-center">Foreign Time Zones</h4>
                    <label for="zone">Choose a timezone:</label>
                    <select @change="timeZoneChange(zone)" v-model="zone" name="zone" id="zone" class="form-control">
                        <option v-for="timezone in timezones" :key="timezone">
                            {{ timezone }}
                        </option>
                    </select><br><br>
                    <p class="text-center">{{ time1 }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import moment_timezone from 'moment-timezone';

export default {
    name: 'TimeComponent',
    mounted() {
        console.log('Component mounted.')
        console.log('Doing some experiment')
        console.log('Doing another experiment')
        console.log('Testing master copy')
        console.log('Testing 2 on master copy')
        console.log('Creating a testing branch')
        this.timezones = moment.tz.names();
        this.interval = setInterval(() => this.fetchTime(), 1000);
    },
    data() {
        return {
            timezones: [],
            time: '',
            interval: null,
            time_zone: 'Africa/Abidjan',
            time1: '',
            zone: 'Africa/Abidjan',
            local: moment.tz.guess(true),
        }
    },
    methods: {
        fetchTime() {
            this.time = moment().tz(this.local).format('LTS');
            this.time1 = moment().tz(this.time_zone).format('LTS');
        },
        timeZoneChange(e) {
            this.time_zone = e;
        }
    }
}
</script>




