<template>

    <Head title="Admin"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-500 leading-tight">Admin</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-500">
                        <div class="card mb-3">
                            <div class="card-header">User Details</div>
                            <div v-for="detail in details" :key="detail.id">
                                <div class="card-body">
                                    <h5 class="card-title">User ID: {{ detail.id }}</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Name: {{ detail.name }}</li>
                                        <li class="list-group-item">Email ID: {{ detail.email }}</li>
                                        <li v-if="detail.user_type == 1" class="list-group-item">User_Type: Admin</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3 mb-3">
                            <button class="btn btn-outline-primary float-start" @click="getUsers()" type="button">Other
                                Users</button>
                            <button type="button" class="btn btn-outline-success float-end" @click="exportData()">Export
                                Users</button>
                        </div><br><br>
                        <div v-show="show === true" class="card mt-3">
                            <div class="card-header">Other Users Details</div>
                            <div class="card-body">
                                <h5 class="card-title">User ID. User Name</h5>
                                <div v-for="user in users" :key="user.id">
                                    <ul class="list-group list-group-flush">
                                        <li v-if="user.user_type != 1" class="list-group-item">{{ user.id }}. {{
                                                user.name
                                        }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script src="./Admin.js"></script>

